.nav-container{
    padding-left:  300px;
    padding-right: 300px;
}
.main{
    width: 56%;
    margin: auto;
    padding-top: 20px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightslategrey;
    padding-bottom: 10px;
}
.task-card
{
    border: 1px solid lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 0 1px rgb(206, 198, 198);
}
.error{
    color: red;
}
.bg-color
{
    background-color: rgb(16, 235, 107);
    color: rgb(62, 77, 70);
}
.loging-form,.signup-form{
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    margin-top: 100px;
}
.profileimage{
 width: 30px;
 height: 30px;
 border-radius: 100%;
 margin-left: 50px;
}
.alert{
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}
.signupa{
    margin-left: 10px;
}